omegaconf
safetensors
librosa
opencv-python
torchaudio
torchvision
diffusers
optimum[quanto]
dashscope
open-clip-torch
numpy
Pillow
tqdm
transformers
huggingface_hub
einops
moviepy<2
scipy
ftfy
regex
pydub
pandas
